.git
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.db
.idea
.vscode
node_modules
dist
build
*.log
app/database/veriler/*
!app/database/veriler/.gitkeep
models_cache
preprocessing_outputs
preprocessing_cache
data
migrations
ospa_suryaocr_git
frontend/node_modules
frontend/dist
